@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles */
body {
    display:grid;
    grid-template-areas: "h h"
                         "a m"
                         "f f";
    width: 100vw;
    height: 100vh;
    margin: 0;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 250px auto;
    font-family: 'Nunito', sans-serif;
    overflow-x:hidden;
}

/* Header Styles */
header {
    grid-area: h;
    width: 100vw;
}

nav {
    display: flex;
    width: 100vw;
}

nav div {
    margin: 20px;
}

nav .company-name {
    color: #ebf6ff;
    font-size: 45px;
}

nav a {
    font-size: 16px;
}

nav .logo {
    width: 90px;
}

/* Aside styles */
aside {
    grid-area: a;
}

aside input {
    background-color: #ebf6ff;
}

aside div {
    margin-top: 50px;
}

aside {
    margin: 20px;
}

/* Main styles */
main {
    grid-area: m;
    margin-top: 60px;
    max-width: 1000px;
}

#calendar {
    border:1px solid #000;
    max-width: 1000px;
}

/* Footer styles */
footer {
    grid-area: f;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    color: #ebf6ff;
}

footer span{
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.fa-heart-o {
    margin: auto 7px;
}
